/*Versão Short para CC*/
p{
    margin: 30px 15px ;
    padding: 15px 9px;
    background-color: aqua;
    border: 20px solid red;
}

h1{
    border: solid;
    border-width: 20px;
    border-color: green orange blueviolet cyan


}

